In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pdpr
import xgboost
from sklearn.model_selection import train_test_split

C:\Users\pjmil\AppData\Local\Temp\ipykernel_31696\3396379954.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pdpr

In [2]:
df = pd.read_excel("default of credit card clients.xls", header = 1) 
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [3]:
# profile = pdpr.ProfileReport(df)
# profile

In [4]:
df["EDUCATION"].map(lambda x: 4 if x > 4 else x)
df["MARRIAGE"].map(lambda x: 3 if x > 3 else x)

for x in df.index:
    if not (df.loc[x, "SEX"] in [1, 2]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "EDUCATION"] in [1, 2, 3, 4]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "MARRIAGE"] in [1, 2, 3]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "AGE"] > 17 and df.loc[x, "AGE"] < 117):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_0"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_2"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_3"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_4"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_5"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_6"] in [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT1"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT2"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT3"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT4"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT5"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "BILL_AMT6"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT1"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT2"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT3"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT4"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT5"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "PAY_AMT6"] >= 0):
        df.drop(x, inplace = True)
    elif not (df.loc[x, "default payment next month"] in [0, 1]):
        df.drop(x, inplace = True)
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [5]:
X = df[["LIMIT_BAL", "SEX", "EDUCATION", "MARRIAGE", "AGE", "PAY_0", "PAY_2", "PAY_3", "PAY_4", 
       "PAY_5", "PAY_6", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5",
       "BILL_AMT6", "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"
       ]].to_numpy()
y = df['default payment next month'].to_numpy()

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=111,
                                                    stratify=y)

In [7]:
from xgboost import XGBClassifier

# Create an instance of the XGBClassifier
model = XGBClassifier(objective='binary:logistic', 
                     learning_rate = 0.1)

# Fit the model to the training data
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [8]:
accuracy = model.score(X_test, y_test)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 81.71%

In [10]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4046,  235],
       [ 778,  480]], dtype=int64)

In [14]:
## Calculate the confusion matrix here

TN = confusion_matrix(y_test, y_pred)[0,0]
FP = confusion_matrix(y_test, y_pred)[0,1]
FN = confusion_matrix(y_test, y_pred)[1,0]
TP = confusion_matrix(y_test, y_pred)[1,1]

In [15]:
## calculate recall and precision here
print("The training recall is", 
         np.round(TP/(FN + TP),4))

print("The training precision is", 
         np.round(TP/(FP + TP),4))

The training recall is 0.3816
The training precision is 0.6713

In [16]:
## Calculate All four for our virginica classifier

## TPR
print("The training true positive rate is",
         np.round(TP/(TP+FN),4))


## FNR
print("The training false negative rate is",
         np.round(FN/(TP+FN),4))



## TNR
print("The training true negative rate is",
         np.round(TN/(TN+FP),4))



## FPR
print("The training false positive rate is",
         np.round(FP/(FP+TN),4))

The training true positive rate is 0.3816
The training false negative rate is 0.6184
The training true negative rate is 0.9451
The training false positive rate is 0.0549